Python/daten/* linguist-vendored
Python/datendienst/* linguist-vendored
Python/ergebnisdaten/* linguist-vendored
Python/grundlagen/* linguist-vendored
Python/polygonzug/* linguist-vendored
Python/schnitte/* linguist-vendored
Python/Scripts/* linguist-vendored
Python/transformationen/* linguist-vendored
Python/venv/* linguist-vendored
Python/.idea/* linguist-vendored
Python/.venv/* linguist-vendored
erstegrund.py linguist-vendored=false
