Python/daten/* linguist-vendored
Python/datendienst/* linguist-vendored
Python/ergebnisdaten/* linguist-vendored
Python/grundlagen/* linguist-vendored
Python/polygonzug/* linguist-vendored
Python/schnitte/* linguist-vendored
